{% extends 'base.html' %}

{% block title %}
  Departments
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Departments</h2>
  <ul class="list-group">
    {% for department in departments %}
      <li class="list-group-item">
        <a href="{% url 'contact_us:department_detail' department.pk %}" class="text-decoration-none">{{ department.name }}</a>
      </li>
    {% empty %}
      <li class="list-group-item">No departments found.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
