{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="mt-4 mb-3">Confirm Product Deletion</h1>
  <div class="row">
    <div class="col-lg-8">
      <p>Are you sure you want to delete "{{ product.name }}"?</p>
      <form method="post">
        {% csrf_token %}
        <div class="btn-group" role="group">
          <button type="submit" class="btn btn-danger">Delete</button>
          <a href="{% url 'product_list' %}" class="btn btn-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
